<div>
    <a class="text-primary" href="/">Weather</a>
    <a class="text-primary" href="/about">About</a>
    <a class="text-primary" href="/help">Help</a>
</div>
<h1 class="display-4">{{title}}</h1> 